<mat-card class="mat-card" style="background-color: #fff48d;">
  <mat-card-title>Nova Categoria</mat-card-title>
  <form [formGroup]="form" (ngSubmit)="createCategory()">
    <mat-card-content>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" placeholder="Nome da categoria">
        <mat-error *ngIf="form.get('name')?.errors?.['required']">
          Nome é obrigatório
        </mat-error>
        <mat-error *ngIf="form.get('name')?.errors?.['maxlength']">
          Nome deve ter no máximo 128 caracteres
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Salvar
      </button>
      <button mat-raised-button (click)="cancel()">
        Cancelar
      </button>
    </mat-card-actions>
  </form>
</mat-card>
